.hero-actions {
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.hero-actions .floating-button {
    position: fixed;
    bottom: 76px;
    right: 36px;
    z-index: 1100 ;
}

.hero-actions .floating-button .button {
    padding: 14px;
}