.el-title {
    color: var(--bulma-strong-color);
    font-weight: var(--bulma-strong-weight);
    margin-bottom: 20px;
    display: block;
}

.overflow-container {
    margin-top: 1.5rem;
}

@media (max-width: 1400px) {
    .overflow-container {
        margin-inline: -20px;
    }
  }