.title {
    color: var(--bulma-strong-color);
    font-weight: var(--bulma-strong-weight);
    margin-bottom: 20px;
    display: block;
    font-size: 18px;
}

.wrapper {
    margin: 1.5rem 0 ;
    /* box-shadow: inset 0 0 0.8px 1px hsla(0, 0%, 48%, 0.1); */
    padding: 20px;
    /* 2. shadow ring 👇 */
    /* 3. multiple soft shadows 👇 */
    /* 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09); */
}

.dark_background {
    background-color: #181B20;
}