.carousel-item-padding {
    padding: 0 10px;
}

.carousel-container .react-multiple-carousel__arrow--right {
    right: calc(2%);
}

.carousel-container .react-multiple-carousel__arrow--left {
    left: calc(2%);
}

.react-multi-carousel-list {
    padding-bottom: 2px;
}