.hero-container {
    height: 400px;
    background-size: cover;
    width: 100%;
    background-position: center center;
}

.hero-container .capsule {
    margin-top: 40px;
    margin-left: 40px;
    display: flex;
    /* max-height: 300px;
    max-width: 300px; */
}

.hero-container .hltb {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
}

.hero-container .htlb-content {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.hero-container .htlb-content > div {
    text-align: center;
    color: white;
}

.hero-container .hero-filter {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-container .capsule h1 {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 14px;
    color: white;
}

@media (max-width: 767px) {

    .hero-container {
        height: auto;
    }

    .hero-container .hero-filter {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .hero-container .cover {
        aspect-ratio: 2 / 3;
    }

    .capsule {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px;
    }

}