.hero-container {
    height: 400px;
    background-size: cover;
    width: 100%;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-container .logo {
    margin-top: calc(4%);
    margin-left: calc(4%);
    max-height: 300px;
    max-width: 300px;
}

.hero-container .hltb {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
}

.hero-container .htlb-content {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.hero-container .htlb-content > div {
    text-align: center;
    color: white;
}