.hero-container {
    position: relative;
    /* margin-bottom: 1.5rem; */
}

.hero-container .logo {
    position: absolute;
    top: calc(14%);
    left: calc(4%);
    max-height: 200px;
    max-width: 400px;
}

.hero-container .hltb {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
}

.hero-container .htlb-content {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.hero-container .htlb-content > div {
    text-align: center;
    color: white;
}