@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

:root {
  --bg-color: hsl(220, 12%, 8%);
}


body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  background-color: var(--bg-color)
}

main {
  margin: 0 auto;
  max-width: 1400px;
  /* max-width: 50em; */
  /* max-width: 100%; */
  min-height: 100vh;
  padding-inline: 20px;
}

.wrapper {
  background-color: #181B20;
  padding: 20px;
}

.flex-content {
  display: flex
}

h6 {
  color: var(--bulma-strong-color);
  font-weight: var(--bulma-strong-weight);
  margin-bottom: 4px;
}