@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

:root {
  --bg-color: hsl(220, 12%, 8%);
  --dark-light-bg-color: #1a1a1c;
  --mobile-breakpoint: 767px;
  --main-container-max-width: 1400px;
  --smooth-white-font-color:  #bfbfbf;
  --side-menu-width: 80px;
  --top-bar-height: 60px;
  --z-index-fixed-elements: 3000;
}


body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  background-color: var(--bg-color)
}

.main-content-container {
  margin: 0 auto;
  max-width: var(--main-container-max-width);
  padding-inline: 20px;
  padding-inline-start: calc(var(--side-menu-width) + 20px);
  padding-top: var(--top-bar-height);
  padding-bottom: var(--top-bar-height);
}

main {
  min-height: 100vh;
}

#header {
  padding: 16px 32px;
  background-color: var(--dark-light-bg-color);
}

#header > div {
  display: flex;
  align-items: center;
  max-width: var(--main-container-max-width);
  margin: 0 auto;
}

.wrapper {
  background-color: #181B20;
  padding: 20px;
}

.dark-border {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(53, 58, 70);
}

.flex-content {
  display: flex
}

h6 {
  color: var(--bulma-strong-color);
  font-weight: var(--bulma-strong-weight);
  margin-bottom: 4px;
}

@media screen and (max-width: calc(768px + 1px)) {
    #header > div  {
      gap: 40px;
    }
    
}