@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

:root {
  --bg-color: hsl(220, 12%, 8%);
  --dark-light-bg-color: #1a1a1c;
  --mobile-breakpoint: 767px;
  --main-container-max-width: 1400px;
  --smooth-white-font-color:  #bfbfbf;
}


body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  background-color: var(--bg-color)
}

main {
  margin: 0 auto;
  max-width: var(--main-container-max-width);
  /* max-width: 50em; */
  /* max-width: 100%; */
  min-height: 100vh;
  padding-inline: 20px;
}

.wrapper {
  background-color: #181B20;
  padding: 20px;
}

.dark-border {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(53, 58, 70);
}

.flex-content {
  display: flex
}

h6 {
  color: var(--bulma-strong-color);
  font-weight: var(--bulma-strong-weight);
  margin-bottom: 4px;
}