h1 {
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 30px;
    color: var(--smooth-white-font-color);
    font-weight: 700;
    padding-top: 30px;
    margin-bottom: 30px;
}